
.item-description{
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
 
}

.item-completed:checked + .item-description{
    background-color: #dddddd;
    text-decoration: line-through;
}

#add {
    padding: 8px;
    font-weight: bold;
    /* color: #ffffff; */
    /* background-color: burlywood; */
    cursor: pointer;
}

